@import "partials/settings";
@import "partials/foundation";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);


html {
  background-color: $backgroundGrey;
  font-family: $Roboto;
}

body, .login_fieldset {
  max-width: 940px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 95%;
  background: none;

  @media #{$small-only}{
    width: 90%;
  }

}

header, .login_fieldset{
  background-color: $containerWhite;
  padding: 20px 70px 15px;
  
  @media #{$small-only}{
    padding: 20px 30px 15px;
  }

  h1{
    border-bottom: solid 1px $borderGrey;
    margin-bottom: 0;
    color: $fontMidGrey;
    font-weight: bolder;
    font-size: 2.8em;
    padding-bottom: 8px;

    span{
      font-size: 0.5em;
      font-weight: 300;
      float: right;
      margin-top: 25px;
    }

    span.admin{
      margin-right: 20px;
      float: left;
    }

    @media #{$small-only}{

      span.admin{
        display: none;
      }
    }
  }
}


.content_column, .login_fieldset {
  background-color: $containerWhite;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;

}
.detail_column {
  h4{
    font-weight: bold;
  }
  .header_details {
    padding: 20px 50px 0 50px;
  }
  background-color: $containerWhite;
  button {
    background-color: transparent;
    font-size: 28px;
    padding: 0 0 0 0;
    margin-bottom: 0;
    i {
      font-size: 75px;
      color: grey;
      font-weight: 100px;
    }
  }
  .details {
    .url p{
      width: 250px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    } 
    padding: 10px;
    margin: 0 50px 50px 50px;
    border-top: solid 1px $borderGrey;
    background-color: white;
    img { 
      display: none;
    }
  }
}

article{
  position: relative;
  margin: 0 15px;
  display: inline-block;
  vertical-align: top;
  width: 237px;
  height: 200px;
  overflow: hidden;
  padding: 15px 0;

  &:hover{
    background-color: darken($containerWhite, 15%);
    transition: all 0.5s ease;
    cursor: pointer;
  }
  //edit article from Admin Page
  &.edit{

    &:hover{
      cursor: pointer;

      a{
        color: white;
        background-color: darken($containerWhite, 80%);
        opacity: 0.8;
        transition: all 0.5s ease;
      }
    }

    a{
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;

      span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.2em;
        font-weight: 100;
        letter-spacing: 2px;
      }
    }
  }

@media #{$small-only}{
  margin: auto;
}


  .image{ 
    width: 237px;
    height: 78px;
    background-position: center;
    background-size: cover;          
  }

  h2{
    font-size: 1em;
    margin-top: 15px;
    // background-color: yellow;
    width: 237px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: $black;
  }

  p{
    font-size: 0.8em;
    text-align: left;
    color: $fontMidGrey;
    font-weight: 300;
  }
  
  @media #{$small-only}{
    // float: none;
    display: inherit;
  }
}

//Log In page and fieldsets


.login_fieldset{
  
  @media #{$small-only}{
    width: 100%;
  }

  form{
    width: 70%;
    text-align: center;
    display: inline-block;
    padding: 80px 0;

    button{
      float: left;
    }
  }
}