extends ./layout

block content
  //- header container
  row
    .small-12.columns 
    header
      h1 Workaholics  
  //- container for articles    
  row
    .small-12.columns
      .content_column
        each article in newsfeeds
          article
            img(src!= article.photoURL)
            h2.title!= article.title
            p.body!= article.body 

