extends ./layout

block content
  //- header container
  row
    .small-12.columns 
    header
      h1 Workaholics  
  //- container for articles    
  row
    .small-12.columns
      .content_column
        articles
          h2 TITLE
          p Lorem ispoiandf jkl;th kjaslfh0e jhajshfe bieehakc hakjfh 

