doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
  h1 layout
  block content

  script(src="/bower_components/modernizr/modernizr.js")
  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/bower_components/foundation/js/foundation.min.js")
  script
    $(document).foundation();