extends /layouts/layout.jade

ul
  each article in news
    li
      span.title= article.title
      a(href="/news/#{news._id}/edit")
        button edit
      form(action="/news/#{news._id}?_method=DELETE" method="post")
        button delete