extends ./layout

block content
  row
    .small-12.large-12.columns 
      header
        h1 Admin
          span.admin Welcome 
        a(href="/newsfeeds/new")
          button new
  //- container for articles    
  row
    .small-12.large-12.columns
      .content_column.clearfix
        each article in newsfeeds
          article.edit
            .image(style="background-image: url('#{article.photoURL}')")
            h2.title!= article.title
            p.body!= article.body 
            a(href="/newsfeeds/edit/#{article._id}") 
              span Edit Article


