extends ./layouts/layout.jade

block content
  .content.admin
    ul
      each article in news
        li
          h2.title= article.title
          p= article.created_at
          a(href="/news/#{article._id}/edit")
            button edit
          form(action="/news/#{article._id}?_method=DELETE" method="post")
            button delete
