extends ./layout

block content
  h1 Workality
  .row
    .small-12.columns
      .detail-column
        h2= article.title
        h2= article.author
        h2= article.created_at
        p= article.body