extends ./layout

block content
  row
    .small-12.large-12.columns 
      header
        h1 Workality  
          span
            a(href="/login") Login
  //- container for articles    
  row
    .small-12.large-12.columns
      .content_column.clearfix
        each article in newsfeeds
          article
            a(href="/newsfeeds/#{article._id}") 
              .image(style="background-image: url('#{article.photoURL}')")
              h2.title!= article.title
              p.body!= article.body 


