extends ./layouts/layout.jade

block content
  .info    
    each article in news
      a(href="/news/#{article._id}")  
        div.block.large-3.columns  
          span
            .image= article.image
            h3= article.title
            p= article.content






