doctype
html(lang="en")
head
  meta(charset="UTF-8")

  title Document
body
  .container
    .row
      header
        .row.large-12.columns 
          h1.title Workality
          a(href="/") &lt;
          div.page 
            .row
              .large-12.columns
                h1.header Event Invitation
          div.info    
            nav
              ul
                li.large-3 Creative Fields
                li.large-3 Client
                li.large-3 Project URL
                li.large-3 Completion Date
          

















>>>>>>> 8f7fb39626fb05de01827fce44887c8844c90e95
