extends ./layouts/layout.jade

block content
  .container    
    each article in news
      a(href="/news/#{article._id}")  
        div.block.medium-3.columns  
          span
            .image
              img(src= article.image)
            h3= article.title
            p= article.content






