extends ./layouts/layout.jade

block content
  .content.clearfix
    .row
      .small-12.columns
        .login
         a(href="/login") Log In
    .row    
      each article in news
        .medium-4.columns
          .tile  
            a(href="/news/#{article._id}")  
              //- .image(style="background-image: url('/news/#{article.image}')")
              .image
                img(src= article.image)
              h3= article.title
              p= article.content






