extends ./layouts/layout.jade

.container
  input( type="text", class="input_form", name="username", value= news.username)
  input( type="text", class="input_form", name="password", value= news.password)
  form(action="/news/#{news._id}/edit?_method=PUT", method="post")
    button Login