doctype
html(lang="en")
head
  meta(charset="UTF-8")

  title Document
body
  .container
    .row
      header
        .row.large-12.columns 
          h1.title Workality
        .row 
          h1 Event Invitation
          .row.large-3.columns
           
           each columns in news   
            ul.event_info
              li.info.large-3.columns 
                h1.header Creative Fields    
                p= columns.field 
              li.info.large-3.columns 
                h1.header Client    
                p= columns.author
              li.info.large-3.columns 
                h1 Project URL
                p= columns.url
              li.info.large-3.columns
                h1 Completion Date
                p= columns.created_at 

                 
            
