extends ../layout

<<<<<<< HEAD

block content
=======
<<<<<<< HEAD
extends ../layout

doctype

block content

=======
doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Login Form
body
>>>>>>> treindle_master
>>>>>>> 628599a74bf4035a1b53c7699a743f0379629709
  form(action="/login", method="POST")
    div
      input(type="text", name="username", placeholder="User Name")
    div
      input(type="password", name="password", placeholder="Password")
    div
<<<<<<< HEAD
      button Log In 

=======
      button Log In
<<<<<<< HEAD
=======
  
>>>>>>> treindle_master
>>>>>>> 628599a74bf4035a1b53c7699a743f0379629709
=======
block content
  row
    .small-12.large-12.columns 
      header
        h1 Workality  
  //- container for articles    
  row
    .small-12.large-12.columns
      .login_fieldset
        form(action="/login", method="POST")
          div
            input(type="text", name="username", placeholder="User Name")
          div
            input(type="password", name="password", placeholder="Password")
          div
            button Log In
  

>>>>>>> ec80c30d2bfe16e06838704d50b020379c895d73
