<<<<<<< HEAD
extends ../layout

doctype

block content

=======
doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Login Form
body
>>>>>>> treindle_master
  form(action="/login", method="POST")
    div
      input(type="text", name="username", placeholder="User Name")
    div
      input(type="password", name="password", placeholder="Password")
    div
<<<<<<< HEAD
      button Log In 

=======
      button Log In
  
>>>>>>> treindle_master
