extends ../layouts/layout.jade

block content
  .content.form
    .row
      .small-12.columns
        form(action="/login", method="POST")
          input( type="text", class="login_form", name="username", value= "User Name")
          
          input( type="password", class="login_form", name="password", value= "Password")
          button Log In